<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/syntax_highlighting-native.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="all" />
    <!--[if gte IE 6]>
      <link rel="stylesheet" href="/stylesheets/screen_ie.css" type="text/css" media="all" />
    <![endif]-->
    <link href="atom.xml" rel="alternate" title="Mark Lodato" type="application/atom+xml" />
    <!--<link href='/images/layout/favicon.ico' rel='shortcut icon' type='image/ico' />-->
  </head>

  <body>
    <a href="http://github.com/MarkLodato"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub" /></a>
    <div id="header">
      <h1><a href="/">Mark Lodato<span>'s blog</span></a></h1>

      <ul id="navigation">
        <li class="first"><a href="/">Blog</a></li>
        <li><a href="/archive.html">Archive</a></li>
        <li class="last"><a href="/projects.html">Projects</a></li>
      </ul>

      <div class="clear_both">
      </div>
    </div>

    {{ content }}

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-13167645-1");
pageTracker._trackPageview();
} catch(err) {}</script>
  </body>
</html>
